<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Yank - console</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  </link>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  </link>
</head>

<body>
  <div id="status" class="fill-height d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <a class="navbar-brand text-primary" href="/app/index.html">Yank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Console</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/status/index.html">Status</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/logout" class="btn btn-lg btn-outline-primary">Logout</a>
        </form>
      </div>
    </nav>
    <div v-if="querry" class="container flex-grow-1">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-2">
          <div class="card-header">
            Server
          </div>
          <div class="card-body">
            <h5 class="card-title">Basic server status</h5>
            <img :src="https://api.mcsrvstat.us/icon/ + responseHost.ip + : + responseHost.port" class="img-thumbnail" alt="Server icon"></img>
            <p class="card-text">Server hostname : <span class="badge badge-info text-white">{{querry.hostname}}</span></p>
            <p class="card-text">Server port : <span class="badge badge-info text-white">{{querry.port}}</span></p>
            <p class="card-text">Server IP : <span class="badge badge-secondary text-white">{{querry.ip}}</span></p>
            <hr class="my-4">
            <h5 class="">MOTD</h5>
            <div class="card-text" v-for="motd in querry.motd.html">
              <p v-html="motd"></p>
            </div>
          </div>
        </div>
        <div class="card m-2">
          <div class="card-header">
            Players
          </div>
          <div class="card-body">
            <h5 class="card-title">Player data</h5>
            <p class="card-text">Players online {{ querry.players.online }} out of {{ querry.players.max }}</p>
            <div v-for="player in querry.players.list" class="card-text">
              <a class="badge badge-primary text-white" :href="'https://namemc.com/profile/' + player" target="_blank">{{player}}</a>
            </div>
          </div>
        </div>
        <div class="card m-2">
          <div class="card-header">
            Advanced
          </div>
          <div class="card-body">
            <h5 class="card-title">Advanced data</h5>
            <p class="card-text">Ping used : <span class="badge badge-secondary">{{querry.debug.ping}}</span></p>
            <p class="card-text">Querry used : <span class="badge badge-secondary">{{querry.debug.query}}</span></p>
            <p class="card-text">SRV detected : <span class="badge badge-secondary">{{querry.debug.srv}}</span></p>
            <p class="card-text">Querry mismach : <span class="badge badge-secondary">{{querry.debug.querymismatch}}</span></p>
            <p class="card-text">IP in SRV record : <span class="badge badge-secondary">{{querry.debug.ipinsrv}}</span></p>
            <p class="card-text">CNAME in SRV record : <span class="badge badge-secondary">{{querry.debug.cnameinsrv}}</span></p>
            <p class="card-text">Animated MOTD : <span class="badge badge-secondary">{{querry.debug.animatedmotd}}</span></p>
            <p class="card-text">Cachetime : <span class="badge badge-secondary"> {{querry.debug.cachetime}}</span></p>
            <p class="card-text">API version : <span class="badge badge-secondary">{{querry.debug.apiversion}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="container flex-grow-1">
      <div class="jumbotron m-4">
        <h1 class="display-4 text-primary">Loading status</h1>
        <p class="lead">Please wait.</p>
        <hr class="my-4">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <script src="/js/common.js"></script>
  <script src="/js/status.js"></script>
</body>

</html>
