.width90{
  width: 90vw;
}

.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}

.fill-height{
  height: 100vh;
}

.fill-height-percentage{
  height: 100%;
}

.log{
  font-family: 'Inconsolata', monospace;
}
