.width90{
  width: 90vw;
}

.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}

.fill-height{
  height: 100vh;
  max-height: 100vh;
}

.fill-height-percentage{
  height: 100%;
}

.log{
  font-family: 'Inconsolata', monospace;
}

.profile-image{
  border-radius: 40px;
  border-color: white;
  border-width: 1px;
  margin: 2px;
  height: 40px;
  width: 40px;
}
